@model Anchi.ERP.Domain.RepairOrder.RepairOrder
@{
    ViewBag.Title = "编辑维修单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Anchi.ERP.Domain.RepairOrder.Enum;

<script type="text/javascript">
    var $vm = avalon.define({
        $id: "EditRepairOrder",
        Id: "@Model.Id",
        Amount: 0,
        CustomerId: "",
        CustomerName: "",
        RepairOn: "@Model.RepairOn.ToString("yyyy-MM-dd")",
        ReceptionById: "",
        Remark: "",
        ProjectList: [],
        ProductList: [],
        TotalProjectAmount: function () {
            var total = 0;
            $.each($vm.ProjectList, function (i, item) {
                total += (item.UnitPrice * item.Quantity);
            });
            return total;
        },
        TotalProductAmount: function () {
            var total = 0;
            $.each($vm.ProductList, function (i, item) {
                total += (item.UnitPrice * item.Quantity);
            });
            return total;
        }
    });

    $(function () {
        @if (Model.Id != Guid.Empty)
        {
            @:initRepairOrderFn("@Model.Id");
                            }
    });
</script>

<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>首页<span class="c-gray en">&gt;</span>维修管理<span class="c-gray en">&gt;</span>编辑维修单
    <a class="btn radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>

<div class="cl pd-5 mt-10">
    <span class="l">
        @if (Model.Id == Guid.Empty || Model.Status == EnumRepairOrderStatus.Repairing)
        {
            <a href="javascript:;" class="btn" onclick="saveRepairOrderFn();">
                <i class="Hui-iconfont">&#xe6e2;</i>保存
            </a>
        }
        @if (Model.Status == EnumRepairOrderStatus.Repairing)
        {
            <a href="javascript:;" class="btn" onclick="setCompletedFn();">
                <i class="Hui-iconfont">&#xe6e2;</i>完工
            </a>
        }
        @if (Model.Status == EnumRepairOrderStatus.Completed && Model.SettlementStatus == EnumSettlementStatus.Waiting)
        {
            <a href="javascript:;" class="btn" onclick="showSettlementFn();">
                <i class="Hui-iconfont">&#xe6e2;</i>结算
            </a>
        }
        @if (Model.Id != Guid.Empty)
        {
            <a href="javascript:;" class="btn" onclick="cancelOrderFn();">
                <i class="Hui-iconfont">&#xe6e2;</i>取消
            </a>
        }
    </span>
</div>

<div class="page-container" ms-controller="EditRepairOrder">
    <form class="form form-horizontal" id="EditRepairOrder">
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">
                <span class="c-red">*</span>客户：
            </label>
            <div class="formControls col-xs-9 col-sm-8">
                <input type="text" class="input-text" ms-duplex="##CustomerName" placeholder="客户" />
            </div>
            <div class="formControls col-xs-1">
                <a href="javascript:void(0);" onclick="showSelectCustomerFn();">选择</a>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">
                <span class="c-red">*</span>开单日期：
            </label>
            <div class="formControls col-xs-9 col-sm-9">
                <input type="text" id="txtRepairOn" class="input-text" ms-duplex="##RepairOn | showTimeDateFilter" placeholder="开单日期" onclick="WdatePicker({ onpicked: selectRepairOnFn, oncleared: selectRepairOnFn });" />
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">
                <span class="c-red">*</span>接待人：
            </label>
            <div class="formControls col-xs-9 col-sm-9">
                <select class="select-default" ms-duplex="##ReceptionById">
                    <option value="">请选择...</option>
                    @foreach (var item in ViewBag.EmployeeList)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">
                备注：
            </label>
            <div class="formControls col-xs-9 col-sm-9">
                <textarea class="textarea" ms-duplex="##Remark" placeholder="备注"></textarea>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-2"></div>
            <div class="col-xs-10">
                <table class="table table-border table-bordered table-bg">
                    <thead>
                        <tr>
                            <td colspan="6">维修项目</td>
                            <td class="text-c">
                                <a href="javascript:void(0);" onclick="showSelectProjectFn();">选择</a>
                            </td>
                        </tr>
                        <tr class="text-c">
                            <th width="25">序号</th>
                            <th>编码</th>
                            <th>项目名称</th>
                            <th>单价</th>
                            <th>数量</th>
                            <th>维修人</th>
                            <th width="50">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ms-for="($index, item) in ##ProjectList">
                            <td>{{ $index + 1 }}</td>
                            <td>{{ item.Code }}</td>
                            <td>{{ item.Name }}</td>
                            <td>
                                <input type="text" class="input-text" ms-duplex="item.UnitPrice" style="width: 80px;" />
                            </td>
                            <td>
                                <input type="text" class="input-text" ms-duplex="item.Quantity" style="width: 80px;" />
                            </td>
                            <td>
                                <select class="select-default" ms-duplex="item.EmployeeId">
                                    <option value="">请选择...</option>
                                    @foreach (var item in ViewBag.EmployeeList)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <a href="javascript:void(0);" ms-click="##ProjectList.remove(item);">删除</a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">合计：</td>
                            <td class="text-r">￥{{ ##TotalProjectAmount() }}</td>
                            <td colspan="3"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-2"></div>
            <div class="col-xs-10">
                <table class="table table-border table-bordered table-bg">
                    <thead>
                        <tr>
                            <td colspan="5">配件明细</td>
                            <td class="text-c">
                                <a href="javascript:void(0);" onclick="showSelectProductFn();">选择</a>
                            </td>
                        </tr>
                        <tr class="text-c">
                            <th width="30">序号</th>
                            <th>编码</th>
                            <th>配件名称</th>
                            <th>单价</th>
                            <th>数量</th>
                            <th width="50">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ms-for="($index, item) in ##ProductList">
                            <td>{{ $index + 1 }}</td>
                            <td>{{ item.Code }}</td>
                            <td>{{ item.Name }}</td>
                            <td>
                                <input type="text" class="input-text" ms-duplex="item.UnitPrice" style="width: 80px;" />
                            </td>
                            <td>
                                <input type="text" class="input-text" ms-duplex="item.Quantity" style="width: 80px;" />
                            </td>
                            <td>
                                <a href="javascript:void(0);" ms-click="##ProductList.remove(item);">删除</a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">合计：</td>
                            <td class="text-r">￥{{ ##TotalProductAmount() }}</td>
                            <td colspan="2"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </form>
</div>

@section foot{
    <script type="text/javascript" src="/Static/Js/Business/RepairOrders/Edit.js"></script>
    <script type="text/javascript" src="/Static/Js/My97DatePicker/WdatePicker.js"></script>
}