@model Anchi.ERP.Domain.Customers.Customer
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var $vm = avalon.define({
        $id: "EditCustomer",
        Id: "@Model.Id",
        Name: "@Model.Name",
        CarNumber: "@Model.CarNumber",
        Tel: "@Model.Tel",
        Address: "@Model.Address",
        Remark: "@Model.Remark"
    });
</script>

<div class="page-container ms-controller" ms-controller="EditCustomer">
    <form class="form form-horizontal" id="formCustomer">
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">
                <span class="c-red">*</span>姓名：
            </label>
            <div class="formControls col-xs-9 col-sm-9">
                <input type="text" class="input-text" ms-duplex="##Name" placeholder="姓名" />
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">
                <span class="c-red">*</span>车牌号：
            </label>
            <div class="formControls col-xs-9 col-sm-9">
                <input type="text" class="input-text" ms-duplex="##CarNumber" placeholder="车牌号" />
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">
                <span class="c-red">*</span>联系电话：
            </label>
            <div class="formControls col-xs-9 col-sm-9">
                <input type="text" class="input-text" ms-duplex="##Tel" placeholder="联系电话" />
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">
                地址：
            </label>
            <div class="formControls col-xs-9 col-sm-9">
                <input type="text" class="input-text" ms-duplex="##Address" placeholder="地址" />
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">
                备注：
            </label>
            <div class="formControls col-xs-9 col-sm-9">
                <textarea class="textarea" ms-duplex="##Remark" placeholder="备注"></textarea>
            </div>
        </div>
        <div class="row cl">
            <div class="formControls col-xs-9 col-xs-offset-3">
                <input type="submit" onclick="return saveCustomerFn();" class="btn" value="保存">
            </div>
        </div>
    </form>
</div>

@section foot{
    <script type="text/javascript" src="/Static/Js/Business/Customers/Edit.js"></script>
}