@model Anchi.ERP.Domain.SaleOrders.SaleOrder
@using Anchi.ERP.Domain.SaleOrders.Enum
@using Anchi.ERP.Domain.RepairOrder.Enum
@{
    ViewBag.Title = "编辑销售单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var $vm = avalon.define({
        $id: "EditSaleOrder",
        Id: "@Model.Id",
        SaleOn: "@Model.SaleOn",
        SaleById: "",
        CustomerId: "",
        CustomerName: "",
        Amount: 0,
        Remark: "",
        ProductList: [],
        TotalProductAmount: function () {
            var total = 0;
            $.each($vm.ProductList, function (i, item) {
                total += (item.UnitPrice * item.Quantity);
            });
            return total;
        }
    });

    function selectSaleOnFn() {
        $vm.SaleOn = $("#txtSaleOn").val();
    }

    $(function () {
        @if (Model.Id != Guid.Empty)
        {
            @:initSaleOrderFn("@Model.Id");
                }
    });
</script>

<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>首页<span class="c-gray en">&gt;</span>系统资料<span class="c-gray en">&gt;</span>编辑销售单
    <a class="btn radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>

<div class="page-container" ms-controller="EditSaleOrder">
    <div class="cl pd-5">
        <span class="l">
            @if (Model.Id == Guid.Empty || Model.Status == EnumSaleOrderStatus.Initial)
            {
                <a href="javascript:;" class="btn btn-primary" onclick="saveSaleOrderFn();">
                    <i class="Hui-iconfont">&#xe6e2;</i>保存
                </a>
            }
            @if (Model.Status == EnumSaleOrderStatus.Initial)
            {
                <a href="javascript:;" class="btn btn-primary" onclick="setOutboundFn();">
                    <i class="Hui-iconfont">&#xe6e2;</i>全部出库
                </a>
            }
            @if (Model.Status == EnumSaleOrderStatus.Outbound && Model.SettlementStatus != EnumSettlementStatus.Completed)
            {
                <a href="javascript:;" class="btn btn-primary" onclick="showSettlementFn();">
                    <i class="Hui-iconfont">&#xe6e2;</i>结算
                </a>
            }
            @if (Model.Id != Guid.Empty)
            {
                <a href="javascript:;" class="btn btn-primary" onclick="cancelOrderFn();">
                    <i class="Hui-iconfont">&#xe6e2;</i>取消
                </a>
            }
        </span>
    </div>

    <form class="form form-horizontal" id="fromSaleOrder">
        <table class="order-edit-form">
            <tr>
                <th>
                    <span class="c-red">*</span>客户：
                </th>
                <td class="pd-5">
                    <input type="text" class="input-text" ms-duplex="##CustomerName" placeholder="客户" style="width: 200px;" readonly="readonly" />
                    <a href="javascript:void(0);" onclick="showSelectCustomerFn();" class="ml-10 btn btn-secondary-outline">选择</a>
                </td>
            </tr>
            <tr>
                <th>
                    <span class="c-red">*</span>开单日期：
                </th>
                <td class="pd-5">
                    <input type="text" id="txtSaleOn" class="input-text" ms-duplex="##SaleOn | showTimeDateFilter" placeholder="开单日期" onclick="WdatePicker({ onpicked: selectSaleOnFn, oncleared: selectSaleOnFn });" style="width: 200px;" />
                </td>
            </tr>
            <tr>
                <th>
                    <span class="c-red">*</span>销售人：
                </th>
                <td class="pd-5">
                    <select class="select-default w-200" ms-duplex="##SaleById">
                        <option value="">请选择...</option>
                        @foreach (var item in ViewBag.EmployeeList)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <th>备注：</th>
                <td class="pd-5">
                    <textarea class="textarea" ms-duplex="##Remark" placeholder="备注"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="pd-5">
                    <table class="table table-border table-bordered table-bg">
                        <thead>
                            <tr>
                                <td colspan="5">配件明细</td>
                                <td class="text-c">
                                    <a href="javascript:void(0);" onclick="showSelectProductFn();" class="btn btn-secondary-outline">选择</a>
                                </td>
                            </tr>
                            <tr class="text-c">
                                <th width="30">序号</th>
                                <th>编码</th>
                                <th>配件名称</th>
                                <th>单价</th>
                                <th>数量</th>
                                <th width="50">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ms-for="($index, item) in ##ProductList">
                                <td>{{ $index + 1 }}</td>
                                <td>{{ item.Code }}</td>
                                <td>{{ item.Name }}</td>
                                <td class="text-c">
                                    <input type="text" class="input-text" ms-duplex="item.UnitPrice" style="width: 80px;" />
                                </td>
                                <td class="text-c">
                                    <input type="text" class="input-text" ms-duplex="item.Quantity" style="width: 80px;" />
                                </td>
                                <td class="text-c">
                                    <a href="javascript:void(0);" ms-click="##ProductList.remove(item);">删除</a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">合计：</td>
                                <td class="text-r">￥{{ ##TotalProductAmount() }}</td>
                                <td colspan="2"></td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </table>
    </form>
</div>

@section foot{
    <script type="text/javascript" src="/Static/Js/Business/SaleOrders/Edit.js"></script>
    <script type="text/javascript" src="/Static/Js/My97DatePicker/WdatePicker.js"></script>
}