@{
    ViewBag.Title = "销售单管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Anchi.ERP.Domain.SaleOrders.Enum;
@using Anchi.ERP.Domain.RepairOrders.Enum;
@using Anchi.ERP.Common.Extensions;

<nav class="breadcrumb">
    <i class="icon-home"></i> 首页<span class="c-gray en">&gt;</span>系统资料<span class="c-gray en">&gt;</span>销售单管理
    <a class="btn radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
        <i class="icon-refresh"></i>
    </a>
</nav>

<div class="page-container ms-controller" ms-controller="SaleOrderList">
    <div class="pd-5 search-bar">
        <form>
            <select class="select-default" ms-duplex="##Search.Status">
                <option value="">销售状态</option>
                @{
                    var enumList = EnumExtension.ToList(typeof(EnumSaleOrderStatus));
                    foreach (var item in enumList)
                    {
                        <option value="@item.Value">@item.DisplayName</option>
                    }
                }
            </select>
            <select class="select-default ml-5" ms-duplex="##Search.SettlementStatus">
                <option value="">结算状态</option>
                @{
                    var settlementEnumList = EnumExtension.ToList(typeof(EnumSettlementStatus));
                    foreach (var item in settlementEnumList)
                    {
                        <option value="@item.Value">@item.DisplayName</option>
                    }
                }
            </select>
            <input type="text" class="input-text ml-5" ms-duplex="##Search.Customer" placeholder="客户姓名、车牌号" />
            <select class="select-default ml-5" ms-duplex="##Search.SaleById">
                <option value="">销售人</option>
                @foreach (var item in ViewBag.EmployeeList)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <select class="select-default ml-5" ms-duplex="##Search.TimeType">
                <option value="">时间</option>
                <option value="SaleOn">开单时间</option>
                <option value="OutboundOn">出库时间</option>
                <option value="SettlementOn">结算时间</option>
            </select>
            <input type="text" ms-duplex="##Search.BeginTime" class="input-text ml-5" placeholder="开始时间" onclick="WdatePicker({ onpicked: selectSearchBeginTimeFn, oncleared: selectSearchBeginTimeFn });" />
            <input type="text" ms-duplex="##Search.EndTime" class="input-text ml-5" placeholder="结束时间" onclick="WdatePicker({ onpicked: selectSearchEndTimeFn, oncleared: selectSearchEndTimeFn });" />
            <button type="submit" onclick="refreshListFn(); return false;" class="btn btn_normal ml-5">
                <i class="icon-search"></i> 搜索
            </button>
        </form>
    </div>

    <div class="cl pd-5">
        <span class="l">
            <a href="/Sale/Add" class="btn">
                <i class="icon-plus"></i> 新建
            </a>
            <a href="javascript:;" class="btn" onclick="setOutboundFn();">
                <i class="icon-ok"></i> 已出库
            </a>
            <a href="javascript:;" class="btn" onclick="cancelOrderFn();">
                <i class="icon-trash"></i> 取消销售单
            </a>
        </span>
    </div>

    <div class="cl pd-5">
        <table class="table table-border table-bordered table-bg">
            <thead>
                <tr class="text-c">
                    <th width="25">
                        <input type="checkbox" name="checkAll">
                    </th>
                    <th width="30">序号</th>
                    <th width="120">编码</th>
                    <th width="80">开单时间</th>
                    <th width="90">客户</th>
                    <th width="90">销售人</th>
                    <th width="60">销售状态</th>
                    <th width="90">应收金额</th>
                    <th width="90">结算金额</th>
                    <th width="80">出库时间</th>
                    <th width="60">结算状态</th>
                    <th width="80">结算时间</th>
                    <th style="min-width: 30px;">备注</th>
                    <th width="50">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-c" ms-for="($index, item) in ##List">
                    <td>
                        <input type="checkbox" class="row-check" ms-attr="{value:item.Id}" />
                    </td>
                    <td>{{ $index + 1}}</td>
                    <td>{{ item.Code }}</td>
                    <td>{{ item.SaleOn | showTimeDateFilter }}</td>
                    <td>{{ item.CustomerName }}</td>
                    <td>{{ item.SaleByName }}</td>
                    <td>
                        <span class="label label-success radius">
                            {{ item.StatusName }}
                        </span>
                    </td>
                    <td>￥{{ item.Amount }}</td>
                    <td>￥{{ item.SettlementAmount }}</td>
                    <td>{{ item.OutboundOn | showTimeDateFilter }}</td>
                    <td>
                        <span class="label label-success radius">
                            {{ item.SettlementStatusName }}
                        </span>
                    </td>
                    <td>{{ item.SettlementOn | showTimeDateFilter }}</td>
                    <td>{{ item.Remark }}</td>
                    <td class="td-manage">
                        <a ms-attr="{href:'/Sale/Edit/' + item.Id}" title="修改">
                            <i class="icon-edit"></i>修改
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="divPager" class="mt-10"></div>
    </div>
</div>

@section foot{
    <script type="text/javascript" src="/Static/Js/Business/SaleOrders/List.js"></script>
    <script type="text/javascript" src="/Static/Js/laypage1.2/laypage.js"></script>
    <script type="text/javascript" src="~/Static/Js/My97DatePicker/WdatePicker.js"></script>
}
