@model Anchi.ERP.Domain.Employees.Employee
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    var $vm = avalon.define({
        $id: "EditEmployee",
        Id: "@Model.Id",
        Code: "@Model.Code",
        Name: "@Model.Name",
        IDCard: "@Model.IDCard",
        EntryOn: "@Model.EntryOn.ToString("yyyy-MM-dd")",
        Tel: "@Model.Tel",
        Address: "@Model.Address",
        Remark: "@Model.Remark"
    });

    $(function () {
        laydate({
            elem: '#txtEntryOn',
            istoday: true,
            choose: function (datas) { //选择日期完毕的回调
                $vm.EntryOn = datas;
            }
        });
    });
</script>
<div class="page-container" ms-controller="EditEmployee">
    <form class="form form-horizontal" id="formEmployee">
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">
                <span class="c-red">*</span>编码：
            </label>
            <div class="formControls col-xs-9 col-sm-9">
                <input type="text" class="input-text" ms-duplex="##Code" placeholder="编码" />
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">
                <span class="c-red">*</span>姓名：
            </label>
            <div class="formControls col-xs-9 col-sm-9">
                <input type="text" class="input-text" ms-duplex="##Name" placeholder="姓名" />
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">
                <span class="c-red">*</span>入职日期：
            </label>
            <div class="formControls col-xs-9 col-sm-9">
                <input type="text" id="txtEntryOn" class="input-text" ms-duplex="##EntryOn" placeholder="入职日期" />
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">
                身份证号：
            </label>
            <div class="formControls col-xs-9 col-sm-9">
                <input type="text" class="input-text" ms-duplex="##IDCard" placeholder="身份证号" />
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">
                联系电话：
            </label>
            <div class="formControls col-xs-9 col-sm-9">
                <input type="text" class="input-text" ms-duplex="##Tel" placeholder="联系电话" />
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">
                地址：
            </label>
            <div class="formControls col-xs-9 col-sm-9">
                <input type="text" class="input-text" ms-duplex="##Address" placeholder="地址" />
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">
                备注：
            </label>
            <div class="formControls col-xs-9 col-sm-9">
                <textarea class="textarea" ms-duplex="##Remark" placeholder="备注"></textarea>
            </div>
        </div>
        <div class="row cl">
            <div class="formControls col-xs-9 col-xs-offset-3">
                <input type="submit" onclick="return saveEmployeeFn();" class="btn" value="保存">
            </div>
        </div>
    </form>
</div>
@section foot{
    <script type="text/javascript" src="/Static/Js/Business/Employees/Edit.js"></script>
    <script type="text/javascript" src="/Static/Js/laydate1.1/laydate.js"></script>
}